.vscode/*
.vscode/settings.json
harjoitus/*
osa1/anekdootit/.yarn
osa1/unicafe/.yarn
osa2/maiden-tiedot/api-key.txt
osa2/kurssitiedot/.vscode
osa2/puhelinluettelo/.yarn
osa3/part3-notes-backend
osa4/part4-notes-backend
osa6/note-app
osa6/redux-anecdotes/package-lock.json
osa6/unicafe-redux/package-lock.json
osa7/part2-notes
osa7/notes-app/
osa7/anecdotes-app/
osa7/bloglist/node_modules/
osa8/apollo-app/
osa8/library-backend/node_modules/
osa8/react-apollo-app/
osa9/ts-app/
osa9/ts-exercise/node_modules/
osa9/flight-app/
osa9/patientor-backend/node_modules/
