.vscode/settings.json
osa1/anekdootit/.yarn
osa1/unicafe/.yarn
.vscode/*
harjoitus/*
osa2/maiden-tiedot/api-key.txt
osa2/kurssitiedot/.vscode
osa2/puhelinluettelo/.yarn
osa3/part3-notes-backend
osa4/part4-notes-backend
